* {
  margin: 0;
  padding: 0;
}

/* TABLE */

.big-container {
  display: flex;
  flex-direction: column;

  background-color: blue;

  width: 100vw;
  height: 100vh;
}



tr {
  background-color: yellow;
  max-width: calc(100vw/13);
  max-height: 2vh;

  overflow: hidden;

}

